{% extends 'base.html' %} {% block content %}
<table style="width: 100%">
  <tr>
    <td>
      <div style="width: 100%; padding: 3.6rem 1.5rem">
        <div
          style="
            width: 100%;
            max-width: 687px;
            border: 1px solid #a8394c;
            margin-left: auto;
            margin-right: auto;
            background: url(./images/bg.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          "
        >
          <div
            style="
              padding: 2.2rem 0.5rem 3rem 0.5rem;
              width: 100%;
              max-width: 519px;
              margin-left: auto;
              margin-right: auto;
            "
          >
            <img
              src="https://i.ibb.co/hX8hHQQ/header-image-1.png"
              style="max-width: 100%"
              alt=""
            />

            <p
              style="
                margin-top: 29px;
                font-weight: 600;
                font-size: 2em;
                line-height: 44.8px;
                font-family: 'Work Sans', sans-serif;
                text-align: center;
              "
            >
              CHINONYE & JOHN
            </p>

            <div style="margin-top: 49px">
              <p
                style="
                  font-family: 'Work Sans', sans-serif;
                  font-weight: 400;
                  text-align: center;
                  font-size: 0.9em;
                  line-height: 19.6px;
                "
              >
                Hello {{First Name}},<br /><br />
                We hope this message finds you well. We are thrilled to remind
                you that the big day is just around the corner, and we can't
                wait to celebrate with all of you! <br />As we prepare for our
                special day, we wanted to provide you with a few essential
                details to ensure everything goes smoothly.<br /><br />
                <b>Wedding Date:</b> 30th October, 2024 <br /><br /><b
                  >Location:</b
                >
                Eko Hotel, Lekki Phase 1, Lagos Nigeria Church
                <br /><br /><b>Wedding Time:</b> 9:00am <br /><br /><b
                  >Reception Time:</b
                >
                11:00am <br /><br />If you have any questions or need further
                information, please don't hesitate to reach out to us. You can
                contact us at [080675222356].<br /><br />
                Thank you for being a part of our journey. We look forward to
                celebrating with you on our special day!<br /><br />
                Warmest regards,<br />
                Chinonye & John
              </p>

              <a
                href="#"
                style="
                  display: block;
                  text-align: center;
                  margin-left: auto;
                  margin-right: auto;

                  width: 302px;
                  max-width: 100%;
                  padding-bottom: 20px;
                  padding-top: 20px;
                  border: 1px solid #9f7db5;
                  border-radius: 8px;
                  background: #f5e7ff;
                  text-decoration: none;
                  font-family: 'Work Sans', sans-serif;
                  font-weight: 500;
                  font-size: 1em;
                  line-height: 22.4px;
                  color: #282828;
                  margin-top: 51px;
                "
              >
                View our website
              </a>
            </div>
          </div>

          <div>
            <div
              style="
                width: 100%;
                max-width: 519px;
                padding: 1.6rem 0.5rem 0;
                border-top: 1px solid #a0a0a0;
                margin-left: auto;
                margin-right: auto;
              "
            >
              <p
                style="
                  text-align: center;
                  font-family: 'Work Sans', sans-serif;
                  font-weight: 400;
                  font-size: 0.9em;
                  line-height: 19.6px;
                  max-width: 464px;
                  margin-left: auto;
                  margin-right: auto;
                "
              >
                Get the DreamAffairs app to plan your own wedding and stay
                up-to-date with details on the go.
              </p>

              <div style="margin-top: 18px">
                <p
                  style="
                    font-weight: 600;
                    font-size: 0.9em;
                    line-height: 19.6px;
                    font-family: 'Work Sans', sans-serif;
                    text-align: center;
                  "
                >
                  Download the app
                </p>

                <div
                  style="
                    width: 270.19px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 8px;
                    display: flex;
                    gap: 12px;
                  "
                >
                  <a href="#">
                    <img
                      src="https://i.ibb.co/37FCZfm/app-store.png"
                      alt="app-store"
                    />
                  </a>
                  <a href="#">
                    <img
                      src="https://i.ibb.co/dPjrMBC/google-play.png"
                      alt="play-store"
                    />
                  </a>
                </div>
              </div>
            </div>

            <div style="margin-top: 46px; padding: 4px">
              <div style="background: #f5e7ff; padding: 10px 0 15px">
                <img
                  src="https://i.ibb.co/QNjnFhm/small-logo2.png"
                  style="display: block; margin-left: auto; margin-right: auto"
                  alt="logo"
                />

                <p
                  style="
                    text-align: center;
                    font-weight: 500;
                    font-family: 'Work Sans', sans-serif;
                    font-size: 10px;
                    line-height: 14px;
                    max-width: 404px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                  "
                >
                  This message was sent from dreamaffairs.com on behalf of
                  Chinonye and John. <br />Send replies to
                  chinonyeumeh.14@gmail.com.<br />
                  <a
                    href="#"
                    style="font: inherit; text-decoration: none; color: inherit"
                    >Learn More</a
                  >
                  |
                  <a
                    href="#"
                    style="font: inherit; text-decoration: none; color: inherit"
                    >Privacy Policy</a
                  >
                  |
                  <a
                    href="#"
                    style="font: inherit; text-decoration: none; color: inherit"
                    >Terms and Conditions</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
{% endblock %} ```
