{% extends 'base.html' %} {% block content %}
<table style="width: 100%">
  <tr>
    <td>
      <div style="width: 100%; padding: 3.6rem 1.5rem">
        <div
          style="
            width: 100%;
            max-width: 687px;
            border: 1px solid #a8394c;
            margin-left: auto;
            margin-right: auto;
            background: url('https://i.ibb.co/tMyFrF2/background-image.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          "
        >
          <div
            style="
              align-items: center;
              padding: 2.2rem 0.5rem 3rem 0.5rem;
              width: 100%;
              max-width: 519px;
              margin-left: auto;
              margin-right: auto;
            "
          >
            <img
              src="https://i.ibb.co/BPnLhx9/small-logo.png"
              style="
                max-width: 142px;
                height: 82px;
                margin-left: auto;
                margin-right: auto;
                display: block;
              "
              alt=""
            />
            <div style="border-bottom: 1px solid #e1e1e1; padding-bottom: 20px">
              <p
                style="
                  margin-top: 34px;
                  font-weight: 500;
                  font-size: 2em;
                  line-height: 44.8px;
                  font-family: 'Work Sans', sans-serif;
                  text-align: center;
                "
              >
                You are almost there!
              </p>
            </div>
            <img
              src="https://i.ibb.co/sjf298L/header-image-3.png"
              style="max-width: 100%; margin-top: 65px"
              alt=""
            />
            <div style="margin-top: 49px">
              <p
                style="
                  font-family: 'Work Sans', sans-serif;
                  font-weight: 400;
                  text-align: center;
                  font-size: 0.9em;
                  line-height: 19.6px;
                "
              >
                Hello [User's Name],<br /><br />
                Welcome to Dream Affairs<br /><br />
                To get started, we need to verify your email address. Please
                click the link below.<br /><br />
                <a href="#" style="text-decoration: none; color: #4b97ed"
                  >[Verification Link]</a
                >
                <br /><br />
                <br /><br />Thank you for choosing DreamAffairs We're honored to
                be a part of your wedding journey, and we can't wait to help you
                turn your dreams into reality.
              </p>
            </div>
          </div>

          <div>
            <div style="padding: 0 0.5rem">
              <div
                style="
                  margin-top: 20px;
                  width: 100%;
                  max-width: 519px;
                  padding: 1.6rem 0.5rem 0 0.5rem;
                  border-top: 1px solid #a0a0a0;
                  margin-left: auto;
                  margin-right: auto;
                "
              >
                <div style="margin-top: 58.5px">
                  <p
                    style="
                      text-align: center;
                      font-family: 'Work Sans', sans-serif;
                      font-weight: 400;
                      font-size: 0.9em;
                      line-height: 19.6px;
                      max-width: 464px;
                      margin-left: auto;
                      margin-right: auto;
                    "
                  >
                    Get the DreamAffairs app to plan your own wedding and stay
                    up-<br />to-date with details on the go.
                  </p>
                </div>
                <div style="margin-top: 18px">
                  <p
                    style="
                      font-weight: 600;
                      font-size: 0.9em;
                      line-height: 19.6px;
                      font-family: 'Work Sans', sans-serif;
                      text-align: center;
                    "
                  >
                    Download the app
                  </p>

                  <div
                    style="
                      width: 270.19px;
                      margin-left: auto;
                      margin-right: auto;
                      margin-top: 8px;
                    "
                  >
                    <a href="#" style="text-decoration: none">
                      <img
                        src="https://i.ibb.co/37FCZfm/app-store.png"
                        alt=""
                      />
                    </a>
                    <a href="#" style="text-decoration: none">
                      <img
                        src="https://i.ibb.co/dPjrMBC/google-play.png"
                        alt=""
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div style="margin-top: 46px; padding: 4px">
              <div style="background: #f5e7ff; padding: 10px 16px 15px 16px">
                <img
                  src="https://i.ibb.co/QNjnFhm/small-logo2.png"
                  style="display: block; margin-left: auto; margin-right: auto"
                  alt=""
                />
                <div
                  style="
                    width: 270.19px;
                    max-width: 180px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 1.3rem;
                    white-space: nowrap;
                  "
                >
                  <a href="#" style="text-decoration: none; margin-right: 24px">
                    <img
                      src="https://i.ibb.co/bPF7YPW/facebook-blue.png"
                      alt="facebook"
                      width="24"
                      height="25"
                    />
                  </a>
                  <a href="#" style="text-decoration: none; margin-right: 24px">
                    <img
                      src="https://i.ibb.co/6XHnwnS/twitter.png"
                      alt="twitter"
                      width="24"
                      height="25"
                    />
                  </a>
                  <a href="#" style="text-decoration: none; margin-right: 24px">
                    <img
                      src="https://i.ibb.co/Gp9Tfzx/instagram.png"
                      alt="instagram"
                    />
                  </a>
                  <a href="#" style="text-decoration: none">
                    <img
                      src="https://i.ibb.co/j5JTxRJ/linkden.png"
                      alt="linkden"
                    />
                  </a>
                </div>
                <p
                  style="
                    text-align: center;
                    font-weight: 400;
                    font-family: 'Work Sans', sans-serif;
                    font-size: 10px;
                    line-height: 14px;
                    max-width: 404px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 1.95rem;
                  "
                >
                  Copyright (C) 2023 DreamAffairs. All rights reserved.<br />You
                  are receiving this email because you opted in via our
                  website.<br /><br /><br /><br />Our mailing address is:<br /><br />
                  DreamAffairs | 166 Parkview St Ikoyi, Lagos State, Nigeria
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
{% endblock %} ```
