{% extends 'base.html' %} {% block content %}
<table style="width: 100%; margin: 0; padding: 0; box-sizing: border-box">
  <tr>
    <td>
      <div
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          width: 100%;
          padding: 3.6rem 1.5rem;
        "
      >
        <div
          style="
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #fff8fa;
            width: 100%;
            padding: 22px;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
          "
        >
          <div
            style="
              margin: 0;
              padding: 0;
              box-sizing: border-box;
              width: 100%;
              max-width: 687px;
              border: 1px solid #a8394c;
              margin-left: auto;
              margin-right: auto;
              background: url('https://i.ibb.co/tMyFrF2/background-image.png');
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
            "
          >
            <div
              style="
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                align-items: center;
                padding: 2.2rem 0.5rem 3rem 0.5rem;
                width: 100%;
                max-width: 519px;
                margin-left: auto;
                margin-right: auto;
              "
            >
              <img
                src="https://i.ibb.co/z4d8Pz1/dream-logo.png"
                style="
                  margin: 0;
                  padding: 0;
                  box-sizing: border-box;
                  max-width: 190px;
                  height: 91px;
                  margin-left: auto;
                  margin-right: auto;
                  display: block;
                "
                alt="logo"
              />
              <div
                style="
                  margin: 0;
                  padding: 0;
                  box-sizing: border-box;
                  border-bottom: 1px solid #e1e1e1;
                  padding-bottom: 20px;
                "
              >
                <p
                  style="
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    margin-top: 34px;
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 44.8px;
                    font-family: 'Work Sans', sans-serif;
                    text-align: center;
                  "
                >
                  Complete your gift reservation
                </p>
              </div>
              <div style="margin-top: 49px">
                <p
                  style="
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    font-family: 'Work Sans', sans-serif;
                    font-weight: 400;
                    text-align: center;
                    font-size: 0.9em;
                    line-height: 19.6px;
                    padding: 0;
                  "
                >
                  You haven’t finished sending your gift to Chinonye and John
                  yet!
                </p>
              </div>
              <img
                src="https://i.ibb.co/sjf298L/header-image-3.png"
                style="max-width: 100%; margin-top: 65px"
                alt=""
              />

              <div style="margin-top: 49px">
                <p
                  style="
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    font-family: 'Work Sans', sans-serif;
                    font-weight: 400;
                    text-align: center;
                    font-size: 14px;
                    line-height: 19.6px;
                  "
                >
                  $400.00 for honeymoon<br /><br />
                  Send with <b> PAYPAL </b>to @lydia<br /><br />
                  You reserved this gift today on Chinonye & John’s registry
                  finish sending your gift,<br /><br />
                  click Send Now.
                </p>
                <a
                  href="#"
                  style="
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    display: block;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;

                    width: 172px;
                    max-width: 100%;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    border: 1px solid #9f7db5;
                    border-radius: 8px;
                    background: #f5e7ff;
                    text-decoration: none;
                    font-family: 'Work Sans', sans-serif;
                    font-weight: 500;
                    font-size: 1em;
                    line-height: 22.4px;
                    color: #822da4;
                    margin-top: 51px;
                  "
                >
                  Send now
                </a>
                <a
                  href="#"
                  style="
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    display: block;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;

                    width: 157px;
                    max-width: 100%;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    border: 1px solid #9f7db5;
                    border-radius: 8px;

                    text-decoration: none;
                    font-family: 'Work Sans', sans-serif;
                    font-weight: 500;
                    font-size: 1em;
                    line-height: 22.4px;
                    color: #822da4;
                    margin-top: 20px;
                  "
                >
                  Mark as sent
                </a>
                <div style="margin-top: 49px">
                  <p
                    style="
                      margin: 0;
                      padding: 0;
                      box-sizing: border-box;
                      font-family: 'Work Sans', sans-serif;
                      font-weight: 500;
                      text-align: center;
                      font-size: 16px;
                      line-height: 22.4px;
                    "
                  >
                    Changed your mind? <br />
                    No worries - just remember to <br />
                    <br />
                    <br />
                    <a
                      href="#"
                      style="
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        text-decoration: none;
                        color: #822da4;
                        font-weight: 500;
                        font-size: 14px;
                      "
                    >
                      Cancel your reservation
                    </a>
                    <br />
                    <br />Want to continue shopping?
                  </p>
                  <a
                    href="#"
                    style="
                      margin: 0;
                      padding: 0;
                      box-sizing: border-box;
                      display: block;
                      text-align: center;
                      margin-left: auto;
                      margin-right: auto;

                      width: 159px;
                      max-width: 100%;
                      padding-bottom: 15px;
                      padding-top: 15px;
                      border: 1px solid #9f7db5;
                      border-radius: 8px;

                      text-decoration: none;
                      font-family: 'Work Sans', sans-serif;
                      font-weight: 500;
                      font-size: 1em;
                      line-height: 22.4px;
                      color: #822da4;
                      margin-top: 18px;
                    "
                  >
                    Browse more
                  </a>
                </div>
              </div>
            </div>

            <div>
              <div style="padding: 0 0.5rem">
                <div
                  style="
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    margin-top: 15px;
                    width: 100%;
                    max-width: 519px;
                    padding: 1.6rem 0.5rem 0 0.5rem;
                    border-top: 1px solid #a0a0a0;
                    margin-left: auto;
                    margin-right: auto;
                  "
                >
                  <div style="margin-top: 58.5px">
                    <p
                      style="
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        text-align: center;
                        font-family: 'Work Sans', sans-serif;
                        font-weight: 400;
                        font-size: 0.9em;
                        line-height: 19.6px;
                        max-width: 464px;
                        margin-left: auto;
                        margin-right: auto;
                      "
                    >
                      Get the DreamAffairs app to plan your own wedding and stay
                      up-<br />to-date with details on the go.
                    </p>
                  </div>
                  <div style="margin-top: 18px">
                    <p
                      style="
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        font-weight: 600;
                        font-size: 0.9em;
                        line-height: 19.6px;
                        font-family: 'Work Sans', sans-serif;
                        text-align: center;
                      "
                    >
                      Download the app
                    </p>

                    <div
                      style="
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        width: 270.19px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 8px;
                      "
                    >
                      <a href="#" style="text-decoration: none">
                        <img
                          src="https://i.ibb.co/37FCZfm/app-store.png"
                          alt=""
                        />
                      </a>
                      <a href="#" style="text-decoration: none">
                        <img
                          src="https://i.ibb.co/dPjrMBC/google-play.png"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-top: 46px; padding: 4px">
                <div style="background: #f5e7ff; padding: 10px 0 15px">
                  <img
                    src="https://i.ibb.co/QNjnFhm/small-logo2.png"
                    style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                    "
                    alt=""
                  />
                  <div
                    style="
                      margin: 0;
                      padding: 0;
                      box-sizing: border-box;
                      width: 270.19px;
                      max-width: 180px;
                      margin-left: auto;
                      margin-right: auto;
                      margin-top: 1.3rem;
                      white-space: nowrap;
                    "
                  >
                    <a
                      href="#"
                      style="text-decoration: none; margin-right: 24px"
                    >
                      <img
                        src="https://i.ibb.co/bPF7YPW/facebook-blue.png"
                        alt="facebook"
                        width="24"
                        height="25"
                      />
                    </a>
                    <a
                      href="#"
                      style="text-decoration: none; margin-right: 24px"
                    >
                      <img
                        src="https://i.ibb.co/6XHnwnS/twitter.png"
                        alt="twitter"
                        width="24"
                        height="25"
                      />
                    </a>
                    <a
                      href="#"
                      style="text-decoration: none; margin-right: 24px"
                    >
                      <img
                        src="https://i.ibb.co/Gp9Tfzx/instagram.png"
                        alt="instagram"
                      />
                    </a>
                    <a href="#" style="text-decoration: none">
                      <img
                        src="https://i.ibb.co/j5JTxRJ/linkden.png"
                        alt="linkden"
                      />
                    </a>
                  </div>
                  <p
                    style="
                      margin: 0;
                      padding: 0;
                      box-sizing: border-box;
                      text-align: center;
                      font-weight: 400;
                      font-family: 'Work Sans', sans-serif;
                      font-size: 10px;
                      line-height: 14px;
                      max-width: 404px;
                      margin-left: auto;
                      margin-right: auto;
                      margin-top: 1.95rem;
                    "
                  >
                    Copyright (C) 2023 DreamAffairs. All rights reserved.<br />You
                    are receiving this email because you opted in via our
                    website.<br /><br /><br /><br />Our mailing address is:<br /><br />
                    DreamAffairs | 166 Parkview St Ikoyi, Lagos State, Nigeria
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
{% endblock %} ```
