
{% extends 'base.html' %}

{% block content %}

<table style="width: 100%">
  <tr>
    <td>
      <div style="width: 100%; padding: 3.6rem 1.5rem">
        <div
          style="
            width: 100%;
            max-width: 687px;
            border: 1px solid #A8394C;
            margin-left: auto;
            margin-right: auto;
            background: url(./images/bg.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          "
        >
          <div
            style="
              padding: 2.2rem 0.5rem 3rem 0.5rem;
              width: 100%;
              max-width: 519px;
              margin-left: auto;
              margin-right: auto;
            "
          >
            <img src="./images/image.png" style="max-width: 100%" alt="" />
            <p
              style="
                margin-top: 29px;
                font-weight: 600;
                font-size: 2em;
                line-height: 44.8px;
                font-family: 'Work Sans', sans-serif;
                text-align: center;
                color: #48195A;
              "
            >
              CHINONYE & JOHN
            </p>
            <div style="margin-top: 49px">
              <p
                style="
                  max-width: 519px;
                  font-family: 'Work Sans', sans-serif;
                  font-weight: 400;
                  text-align: center;
                  font-size: 0.9em;
                  line-height: 19.6px;
                "
              >
                Hello {{kwargs.name}},<br /><br />
                We hope this message finds you well. We wanted to take a
                moment to express our deepest gratitude for being a part of
                our wedding day. Your presence and warm wishes made the
                celebration even more memorable.<br /><br />We are filled
                with joy as we reflect on the love and support we received
                from family and friends like you. Your presence meant the
                world to us, and<br />your well wishes touched our hearts.
                <br /><br />
                Our wedding day was a dream come true, and we are grateful
                for your role in making it so special. Your love and support
                mean everything to us.<br /><br />
                Thank you once again for sharing in our joy and making our
                day unforgettable<br /><br />
                Warmest regards,<br />
                Chinonye & John
              </p>
              <a
                href="#"
                style="
                  display: block;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  margin-left: auto;
                  margin-right: auto;
                  width: 302px;
                  max-width: 100%;
                  height: 58px;
                  border: 1px solid #9F7DB5;
                  border-radius: 8px;
                  background: #F5E7FF;
                  text-decoration: none;
                  font-family: 'Work Sans', sans-serif;
                  font-weight: 500;
                  font-size: 1em;
                  line-height: 22.4px;
                  color: #282828;
                  margin-top: 51px;
                "
                >View our website</a
              >
            </div>
          </div>
          <div>
            <div
              style="
                width: 100%;
                max-width: 519px;
                padding: 1.6rem 0.5rem 0;
                border-top: 1px solid #A0A0A0;
                margin-left: auto;
                margin-right: auto;
                "
            >
              <p
                style="
                  text-align: center;
                  font-family: 'Work Sans', sans-serif;
                  font-weight: 400;
                  font-size: 0.9em;
                  line-height: 19.6px;
                  max-width: 464px;
                  margin-left: auto;
                  margin-right: auto;
                "
              >
              Get the DreamAffairs app to plan your own wedding and stay
                up-to-date with details on the go.
              </p>
              <div style="margin-top: 18px">
                <p
                  style="
                    font-weight: 600;
                    font-size: 0.9em;
                    line-height: 19.6px;
                    font-family: 'Work Sans', sans-serif;
                    text-align: center;
                    "
                >
                  Download the app
                </p>
                <div
                  style="
                    width: 270.19px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 8px;
                    display: flex;
                    gap: 12px;
                    "
                >
                  <a href="#">
                    <img src="./images/app_store.png" alt="" />
                  </a>
                  <a href="#">
                    <img src="./images/google_play.png" alt="" />
                  </a>
                </div>
              </div>
            </div>
            <div style="margin-top: 46px; padding: 4px">
              <div style="background: #F5E7FF; padding: 10px 0 15px">
                <img
                src="./images/logo.png"
                  style="
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    "
                  alt=""
                />
                <p
                  style="
                    text-align: center;
                    font-weight: 500;
                    font-family: 'Work Sans', sans-serif;
                    font-size: 10px;
                    line-height: 14px;
                    max-width: 404px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                  "
                >
                  This message was sent from dreamaffairs.com on behalf of
                  Chinonye and John. <br />Send replies to
                  chinonyeumeh.14@gmail.com.<br />
                  <a
                    href="#"
                    style="
                      font: inherit;
                      text-decoration: none;
                      color: inherit;
                    "
                    >Learn More</a
                    >
                    |
                  <a
                    href={{kwargs.unsubscribe}}
                    style="
                      font: inherit;
                      text-decoration: none;
                      color: inherit;
                    "
                    >Privacy Policy</a
                  >
                  |
                  <a
                    href="#"
                    style="
                      font: inherit;
                      text-decoration: none;
                      color: inherit;
                    "
                    >Terms and Conditions</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
{% endblock %}
